.nav-top{
    width: 100%;
    height: 72px;
    position:fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    background: url('../../assets/img/header.png') ;
}
.nav-top-two{
    width: 100%;
    height: 72px;
    position:fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.nav-top .nav-logo{
    margin-right: 30%;
    margin-left: 10%;
}
.nav-top-two .nav-logo{
    margin-right: 30%;
    margin-left: 10%;
}
.nav {
    width: 90%;
    height: 60px;
    background: transparent;
    position: fixed;
    top: 0;
    left: 5%;
}
.nav-menu {
    width: 45%;
    height: 60px;
    line-height: 60px;
    float: right;
}

.nav-menu .login-resgister {
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
}
.home div {
    height: 800px;
}
:host nz-anchor {
    height: 60px;
    width: 100%;
}
.login-register {
    color: #fff;
}
.login-register span {
    margin: 0 5px;
}
.login-register a {
    color: #fff;
    font-size: 16px;
}
.login-register a:link {
    color: #fff;
}
.login-register a:hover {
    color: #fff;
}

.nav-top-two{
    background-color: #fff;
}
