

<body>
    

    <div class="forgotpwd">
        <!--logo-->
        <div class="forgotpwd-logo">
            <img src="../../assets/img/logo-login.png">
        </div>
        <div class="form-group">
            <input type="text" class="form-control email" placeholder="请输入电子邮箱">
        </div>
        <div class="form-group">
                <input type="text" class="form-control username pwd" placeholder="请输入用户名">
                <button type="button">获取验证码</button>
        </div>
        <div class="form-group">
            <input type="text" class="form-control password" placeholder="请输入密码">
        </div>

        <div class="btn"><button type="button">立即修改</button></div>
        <div class="router">
            <a [routerLink]="['/login']">返回登录</a>
            
            
        </div>

    </div>
    <app-foot></app-foot>
</body>    
      
      