.top-banner {
    height: 900px;
    background-image: linear-gradient(151deg,#6136d5 0%,#4d6ceb 50%, #3a9cff 100%),linear-gradient( #e6f4ff,#e6f4ff);
}
.banner-component {
    width: 1200px;
    margin: 0 auto;
}
.sub {
    height: 835px;
}
.sub-left {
    width: 52%;
    height: 100%;
    float: left;
}
.img-part {
    width: 48%;
    line-height: 825px;
}
.img-part img {
    width: 100%;
    height: 554px;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.for-service {
    margin-top: 230px;
    font-family: SimHei;
    font-size: 61px;
    color: #ffffff;
}
.vertical-line {
    margin: 55px 0;
    width: 90px;
    height: 4px;
    background-color: #FFF;
}
.text {
    font-family: MicrosoftYaHei;
    font-size: 26px;
    letter-spacing: 3px;
    margin-bottom: 25px;
    color: #ffffff;
}

.aboutus {
    height: 420px;
    background-color: #f3f3f3;
}
.a-component {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 90px;
}
.aboutus h2 {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #3a3939;
    margin-top: 20px;
    margin-bottom: 10px;
}
.en-about-us {
    font-family: MicrosoftYaHei;
    font-size: 18px;
    color: #999999;
    margin-bottom: 20px;
    text-align: center;
}
.about-top,.about-center,.about-bottom {
    margin-bottom: 25px;
    font-size: 16px;
}
.information h2 {
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #3a3939;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container-fluid {
    padding: 0;
    padding-top: 40px;
}
.i-component {
    width: 1200px;
    height: 580px;
}
.i-component .sub {
    width: 25%;
    height: 265px;
    float: left;
    margin-top: 15px;
}
.i-component .sub img {
    border-radius: 5px;
    width: 284px;
    height: 200px;
}
.i-component .sub p {
    font-family: MicrosoftYaHei;
    font-size: 18px;
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}
.s-sub .s-left {
    float: left;
}
.s-sub .s-right {
    float: right;
    margin-right: 14px;
    color: #999999;
}
.contact-us {
    height: 400px;
    background-image: linear-gradient(151deg,#7f9efb 0%,#8ea8fb 50%,#9ab0fb 100%),linear-gradient(#f3f3f3,#f3f3f3);
}
.contact-component {
    padding: 0;
    padding-top: 20px;
}
.contact-component h2{
    text-align: center;
    font-size: 30px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #3a3939;
    margin-top: 20px;
    margin-bottom: 10px;
}
.content ul {
    margin-top: 0;
    margin-bottom: 10px;
    padding-left: 0;
    list-style: none;
    background: #FFF;
    height: 300px;
    border-radius: 15px;
}
.content ul li {
    float: left !important;
    width: 33.33%;
    text-align: center;
    height: 100%;
}
.content ul li img {
    width: 114px;
    height: 113px;
    margin-top: 50px;
}
.content ul li .t {
    padding-top: 50px;
    font-size: 16px;
    color: #999999;
}
.content ul li .tel {
    font-family: MicrosoftYaHei-Bold;
    font-size: 15px;
    color: #333333;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}